.idea/
venv/
*.pyc
media/*
*/development.py
*/production.py
*/testing.py
db.sqlite3
.coverage
htmlcov/*
.mypy_cache/
.env*
ci_cd/.env*
**/__pycache__/**
.devspace
test.py
test.csv
scratch.*
*.xlsx
tags
.python-version
